@charset "UTF-8";
header::after, .header_top::after, .header_center_content::after, .header_center_content .search p::after, .header_footer::after, .foot_help::after, .foot_nav::after, .foot_nav ul::after, .banner::after, .banner_img::after, .body .title2::after, .todaylive::after, .list ul::after, .activity ul::after {
  content: '';
  overflow: hidden;
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

* {
  margin: 0;
  padding: 0; }

.line {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  width: 1px;
  display: inline-block;
  vertical-align: middle; }

header {
  border-bottom: 2px solid #94193f;
  height: 215px; }

.top_top {
  background: #fafafa;
  border: #dfdfdf 1px solid; }

.header_top {
  line-height: 36px;
  font-size: 12px;
  font-family: "宋体";
  color: #8c8c8c; }
  .header_top a {
    color: #8c8c8c;
    text-decoration: none;
    display: inline-block; }
    .header_top a:hover {
      text-decoration: underline;
      color: #c41f3a; }
  .header_top .header_top_left {
    float: left; }
    .header_top .header_top_left span {
      display: inline-block; }
    .header_top .header_top_left .login {
      padding: 0 10px 0 20px; }
    .header_top .header_top_left .register {
      padding-left: 8px; }

.header_top_right {
  float: right; }
  .header_top_right ul {
    list-style: none; }
  .header_top_right li {
    float: left;
    position: relative; }
    .header_top_right li a {
      padding: 0 10px; }
  .header_top_right i {
    display: inline-block;
    margin: 0 4px 0 10px;
    vertical-align: middle;
    width: 14px;
    height: 13px;
    background: url(../img/icon_list.png) no-repeat 0 -38px; }
  .header_top_right b {
    background: url(../img/icon_list.png) no-repeat scroll -157px -696px;
    margin-left: 5px;
    display: inline-block;
    height: 6px;
    width: 10px; }
  .header_top_right .li_tel {
    padding-right: 10px; }
  .header_top_right .hovernav {
    position: relative; }
  .header_top_right .hovernav > a {
    border: 1px solid #fff;
    border-bottom: none; }
  .header_top_right .QR {
    position: absolute;
    top: 36px;
    left: -10px;
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 1px #f6f6f6;
    padding: 5px;
    margin-top: 5px;
    display: none;
    z-index: 6;
    background: #fff; }
  .header_top_right .qrcode:hover .QR {
    display: block; }
  .header_top_right .hidennav {
    border: 1px solid #ccc;
    border-top: none;
    line-height: 25px;
    position: absolute;
    display: none;
    background: #fff;
    z-index: 6; }
  .header_top_right .hovernav:hover > a {
    border: 1px solid #ccc;
    border-bottom: none;
    background: #fff; }
  .header_top_right .hovernav:hover .hidennav {
    display: block; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.header_center_content {
  margin-top: 30px;
  margin-bottom: 38px; }
  .header_center_content .logo {
    float: left;
    margin-right: 7px; }
  .header_center_content .top_center1 {
    float: left;
    margin-right: 15px;
    padding-top: 24px;
    width: 457px; }
  .header_center_content .search {
    float: left;
    margin-top: 19px;
    width: 494px;
    height: 35px;
    margin-top: 19px;
    border: 3px solid #94193f; }
    .header_center_content .search input[type=text] {
      width: 397px;
      height: 34px;
      font-size: 12px;
      border: none;
      outline: none;
      text-indent: 8px; }
    .header_center_content .search input[type=submit] {
      height: 35px;
      width: 97px;
      float: right;
      background-color: #94193f;
      border: none;
      cursor: pointer;
      color: #fff;
      outline: none;
      font-size: 16px; }
    .header_center_content .search p {
      margin-top: 8px;
      line-height: 25px; }
      .header_center_content .search p a {
        padding: 0 5px 0 0;
        color: #8c8c8c;
        font-family: "宋体";
        font-size: 12px;
        float: left; }
        .header_center_content .search p a:hover {
          color: #94193f; }
  .header_center_content .shopcar {
    border: 1px solid #d8d8d8;
    float: right;
    margin-top: 19px;
    background-color: #f9f9f9;
    position: relative; }
    .header_center_content .shopcar a {
      color: #666;
      display: block;
      width: 129px;
      height: 39px;
      line-height: 39px;
      position: relative; }
      .header_center_content .shopcar a .b_car {
        background: url(../img/icon_list.png) no-repeat -184px -736px;
        display: block;
        width: 21px;
        height: 15px;
        float: left;
        margin-left: 16px;
        margin-top: 12px; }
      .header_center_content .shopcar a .b_right {
        background: url(../img/icon_list.png) no-repeat -270px -737px;
        display: block;
        width: 18px;
        height: 15px;
        float: right;
        margin-right: 7px;
        margin-top: 14px; }
      .header_center_content .shopcar a .shopnum {
        background-color: #94193f;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        position: absolute;
        top: -4px;
        right: 20px;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        text-align: center;
        color: #fff; }
    .header_center_content .shopcar:hover {
      border: 1px solid #e2e2e2;
      border-bottom: none;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .header_center_content .shopcar .shopcarlist {
      position: absolute;
      top: 40px;
      padding: 18px 0;
      text-align: center;
      font-size: 14px;
      color: #666666;
      font-family: "宋体";
      width: 308px;
      right: 0;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      display: none; }
    .header_center_content .shopcar .fffborder {
      position: absolute;
      height: 5px;
      width: 100%;
      background-color: #fff;
      top: 35px;
      z-index: 5;
      display: none; }
    .header_center_content .shopcar:hover .shopcarlist,
    .header_center_content .shopcar:hover .fffborder {
      display: block; }

.header_footer li {
  float: left;
  padding: 0 30px;
  position: relative;
  height: 39px;
  line-height: 39px; }
  .header_footer li a {
    font-size: 16px;
    color: #303030; }

.header_footer .first {
  width: 215px;
  padding: 0;
  text-align: center;
  background-color: #94193f;
  position: relative; }
  .header_footer .first a {
    letter-spacing: 2px;
    color: #fff;
    float: left;
    padding-left: 55px; }
  .header_footer .first b {
    background: url(../img/icon_list.png) no-repeat -36px -128px;
    display: block;
    height: 8px;
    width: 16px;
    position: absolute;
    right: 16px;
    top: 19px; }

.header_footer .two {
  padding: 0 30px 0 60px; }
  .header_footer .two a {
    color: #94193f;
    font-weight: bold; }

.foot_top_img {
  border-bottom: 1px solid #d7d7d7; }

.foot_help {
  padding-top: 40px; }
  .foot_help dl {
    color: #666;
    padding: 0 60px 0 50px;
    float: left; }
    .foot_help dl a {
      line-height: 22px;
      color: #666; }
    .foot_help dl h3 {
      height: 31px;
      font-weight: normal; }
  .foot_help .foot_qr {
    text-align: center;
    float: left; }
    .foot_help .foot_qr li {
      float: left;
      margin-right: 20px; }
      .foot_help .foot_qr li h3 {
        height: 31px; }

.foot_nav {
  border-bottom: 4px solid #a90202;
  margin-top: 45px; }
  .foot_nav ul {
    text-align: center; }
  .foot_nav li {
    height: 35px;
    display: inline-block;
    line-height: 35px;
    padding-right: 12px; }
    .foot_nav li a {
      color: #666;
      font-family: "宋体"; }
  .foot_nav .line {
    margin-left: 14px; }

.footer_buttom {
  text-align: center;
  line-height: 25px;
  color: #7e7e7e;
  background: #f3f3f3; }
  .footer_buttom p {
    padding-top: 10px; }
    .footer_buttom p img {
      display: inline-block; }
    .footer_buttom p a {
      color: #434343; }
  .footer_buttom .footer_buttom_buttom {
    padding: 30px 0 40px 0; }

header::after, .header_top::after, .header_center_content::after, .header_center_content .search p::after, .header_footer::after, .foot_help::after, .foot_nav::after, .foot_nav ul::after, .banner::after, .banner_img::after, .body .title2::after, .todaylive::after, .list ul::after, .activity ul::after {
  content: '';
  overflow: hidden;
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.banner {
  position: relative;
  width: 100%;
  height: 380px; }
  .banner .banner_nav {
    bottom: 10px;
    height: 28px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%; }
    .banner .banner_nav .banner_list {
      width: 93px;
      margin: 0 auto;
      height: 28px;
      line-height: 28px;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.3); }
      .banner .banner_nav .banner_list span {
        cursor: pointer;
        width: 11px;
        height: 11px;
        display: inline-block;
        margin: 7.5px 5px;
        background-color: #fff;
        border-radius: 5px;
        text-indent: 999px; }
      .banner .banner_nav .banner_list .active {
        background: red; }

.mart40 {
  margin-top: 40px; }

.banner_img {
  height: 380px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .banner_img li {
    position: absolute;
    left: -190.5px;
    opacity: 0;
    z-index: 0;
    transition: all 0.5s; }
  .banner_img .visible {
    opacity: 1; }

.shopnav {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  width: 215px;
  height: 380px;
  background: url(../img/index_type_bg.png);
  z-index: 4; }
  .shopnav ul li:nth-of-type(1) i {
    background-position: -0px -421px; }
  .shopnav ul li:nth-of-type(2) i {
    background-position: 0 -166px; }
  .shopnav ul li:nth-of-type(3) i {
    background-position: 0 -128px; }
  .shopnav ul li:nth-of-type(4) i {
    background-position: 0 -211px; }
  .shopnav ul li:nth-of-type(5) i {
    background-position: 0 -253px; }
  .shopnav ul li:nth-of-type(6) i {
    background-position: 0 -336px; }
  .shopnav ul li:nth-of-type(7) i {
    background-position: 0 -376px; }
  .shopnav ul {
    width: 100%;
    padding-top: 5px;
    position: relative; }
    .shopnav ul li {
      padding-left: 55px;
      height: 35px;
      line-height: 35px;
      margin-top: 15px;
      cursor: pointer;
      left: -190.5px; }
      .shopnav ul li i {
        background: url(../img/type_icon.png);
        vertical-align: middle;
        margin-right: 5px;
        display: inline-block;
        width: 18px;
        height: 18px; }
      .shopnav ul li a {
        color: #333;
        font-size: 14px; }
  .shopnav .twonav {
    display: none;
    position: absolute;
    left: 215px;
    width: 370px;
    background-color: #fff;
    z-index: 5;
    padding: 20px 0 10px 15px;
    top: 0px;
    min-height: 351px; }
    .shopnav .twonav li {
      float: left;
      padding: 0;
      margin: 0 0 10px 0;
      text-align: left;
      padding-right: 10px;
      height: 24px;
      line-height: 24px;
      white-space: nowrap; }
    .shopnav .twonav a {
      padding-left: 4px;
      color: #fff;
      font-size: 12px;
      background-color: #9b9093;
      display: block; }
      .shopnav .twonav a:hover {
        color: #fff;
        background-color: #94193f; }
    .shopnav .twonav i {
      display: inline-block;
      background-color: #837679;
      width: 19px;
      text-align: center;
      margin-left: 6px;
      background: none;
      vertical-align: baseline; }
  .shopnav ul li:hover .twonav {
    display: block; }

.side {
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  background-color: #444851;
  height: 100%;
  min-height: 600px; }
  .side a {
    color: #fff; }
  .side .side_box {
    position: relative;
    height: 100%; }
  .side .side_top {
    margin: 5px 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 360px;
    margin-top: -270px;
    right: 0; }
  .side i {
    display: block;
    background: url(../img/icon_list.png);
    width: 30px;
    height: 23px;
    margin: 0; }
  .side .account {
    padding: 5px 0;
    margin-bottom: 40px; }
    .side .account i {
      background-position: -190px -413px; }
    .side .account div {
      width: 39px;
      padding: 5px 0 0 0;
      text-align: center; }
  .side .side_car {
    margin: 5px 0; }
    .side .side_car i {
      background-position: -76px 0;
      margin-bottom: 5px; }
    .side .side_car div {
      width: 17px;
      padding: 0 11px; }
  .side .getop {
    cursor: pointer;
    position: absolute;
    bottom: 20px; }
    .side .getop i {
      background-position: -83px -252px;
      width: 19px;
      height: 19px;
      margin: 5px 10px; }

.body button {
  position: absolute;
  top: 50%;
  position: absolute;
  top: 90px;
  width: 30px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: url(../img/icon_list.png) repeat scroll;
  background-color: #575757;
  display: none;
  z-index: 999; }

.body .buttonleft {
  left: 0;
  background-position: -114px -330px; }

.body .buttonright {
  right: 0;
  background-position: -211px -330px; }

.body .title2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #c4193f;
  margin-top: 0px;
  width: 100%; }
  .body .title2 p {
    float: left;
    font-size: 28px;
    padding-bottom: 4px;
    color: #333333; }
  .body .title2 ul {
    float: right;
    height: 37px;
    line-height: 37px;
    margin-top: 9px; }
  .body .title2 li {
    float: left; }
    .body .title2 li a {
      padding: 0 12px;
      display: block;
      height: 35px;
      background-color: #fff;
      border: 2px solid #fff;
      border-bottom: none;
      padding-top: 0;
      color: #434343;
      font-size: 14px; }
    .body .title2 li .active {
      border-bottom: 1px solid #fff;
      color: #c4193f;
      border-left: 2px solid #c4193f;
      border-right: 2px solid #c4193f;
      border-top: 2px solid #c4193f; }

.todaylive {
  margin-top: 40px; }
  .todaylive .title {
    margin-bottom: 10px; }
  .todaylive .title li {
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 48px;
    position: relative;
    padding: 0 20px;
    z-index: 9;
    line-height: 48px; }
    .todaylive .title li a {
      color: #333; }
    .todaylive .title li .underline {
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 3px;
      background-color: #000;
      left: 0%; }
  .todaylive .title .program {
    margin-left: -40px; }
    .todaylive .title .program a {
      border-radius: 15px;
      color: #fff;
      font-size: 18px;
      height: 27px;
      line-height: 27px;
      width: 99px;
      background: #eb2d58;
      float: left;
      display: block;
      margin-top: 11px;
      text-align: center; }
      .todaylive .title .program a i {
        background: url(../img/icon_list.png) no-repeat -183px -488px;
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 24px; }
  .todaylive .todaylive_line {
    width: 95px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0; }
    .todaylive .todaylive_line i {
      display: block;
      height: 14px;
      position: absolute;
      top: 19px;
      width: 1px;
      background-color: #8c8c8c;
      left: 47px; }

.todaylive .title {
  height: 47px;
  border-bottom: 1px solid #cfcfcf;
  margin: 0px 23px 0 23px;
  padding-top: 8px;
  position: relative;
  padding-left: 10px; }

.list {
  padding: 10px 35px 0 35px;
  position: relative;
  width: 1130px;
  overflow: hidden; }
  .list ul {
    position: relative;
    overflow: hidden; }
  .list li {
    width: 220px;
    float: left;
    border: 3px solid #fff;
    margin: 4px 0px;
    padding: 0;
    position: relative; }
    .list li:hover {
      border: 3px solid #c4193f;
      transition: all 0.3s ease-in 0s; }
    .list li:hover p,
    .list li:hover .list_title a {
      text-decoration: underline; }
  .list .img {
    height: 220px;
    overflow: hidden; }
  .list a {
    display: block;
    width: 220px; }
    .list a:hover img {
      transform: scale(1.1);
      -webkit-transition: all 0.6s ease 0s; }
  .list p {
    color: #787878;
    padding: 0 5px;
    font-family: "宋体";
    height: 1.4em;
    line-height: 1.4em;
    overflow: hidden;
    margin-top: 10px; }
  .list .shoptime {
    background: url(../img/icon_list.png) repeat scroll -1px -350px;
    color: #fff;
    height: 27px;
    left: 3px;
    line-height: 27px;
    position: absolute;
    top: 3px;
    width: 61px;
    z-index: 9; }
    .list .shoptime i {
      background: url(../img/icon_list.png) repeat scroll -168px -305px;
      display: block;
      float: left;
      height: 23px;
      width: 26px; }
  .list .list_title {
    display: block;
    height: 2.8em;
    line-height: 1.4em;
    overflow: hidden;
    padding: 0px 5px 0px 5px;
    margin-top: 5px; }
    .list .list_title a {
      color: #000;
      font-size: 13px;
      font-family: "宋体"; }
  .list .tv_price {
    color: #969696;
    height: 30px;
    line-height: 30px;
    padding: 10px 5px 5px 5px; }
    .list .tv_price .color_c4193f {
      color: #c4193f; }
    .list .tv_price .firstspan {
      font-size: 14px; }
    .list .tv_price .lastspan {
      font-size: 20px; }
  .list:hover button {
    display: block; }

.shoplist {
  position: relative;
  margin-top: 40px; }
  .shoplist .overtimer {
    text-align: center;
    height: 27px;
    width: 100%;
    background: #fef6eb;
    line-height: 27px;
    color: #e31539;
    font-size: 12px; }
    .shoplist .overtimer i {
      background: url(../img/icon_list.png) no-repeat scroll -167px -271px;
      display: inline-block;
      vertical-align: middle;
      width: 13px;
      height: 17px; }
  .shoplist .list {
    display: none; }
  .shoplist .listblock {
    display: block; }
  .shoplist .list li {
    width: 228px;
    border: none;
    margin-right: 12px; }
  .shoplist .list li:hover {
    border: none; }
  .shoplist .list li:hover img {
    transform: none;
    opacity: 0.53;
    transition: none; }
  .shoplist .tv_price {
    border: 1px solid red;
    height: 33px;
    padding: 0; }
    .shoplist .tv_price .overprice {
      float: left; }
    .shoplist .tv_price span {
      float: left; }
    .shoplist .tv_price a {
      float: right;
      width: 110px;
      height: 33px;
      background: #c4193f;
      text-align: center;
      color: #fff;
      font-size: 16px; }

.list li {
  border: 3px solid #fff; }

.shoplist .list,
.newlist .list {
  padding: 0;
  width: 100%;
  display: none; }

.shoplist .listblock,
.newlist .listblock {
  display: block; }

.shoplist .list li:hover img,
.newlist .list li:hover img {
  transform: none;
  transition: none; }

.shoplist img,
.newlist img {
  width: 228px; }

.list li:hover {
  border: 3px solid #c4193f; }

.newlist .list ul li {
  width: 220px;
  margin-right: 3px; }

.activity li {
  float: left;
  margin-top: 20px;
  margin-right: 12px; }

.cosmetics .list {
  padding: 0;
  position: relative;
  width: 100%; }
  .cosmetics .list li {
    width: 224px; }
  .cosmetics .list .bigimg {
    width: 710px; }
    .cosmetics .list .bigimg a {
      width: 710px; }
    .cosmetics .list .bigimg img {
      width: 100%; }

.cosmetics li {
  margin-right: 8px; }

.cosmetics ul li:hover img {
  transform: none; }

.cosmetics .nomargin {
  margin-right: 0; }

.brand {
  width: 1194px;
  height: 111px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  background-color: #fff;
  position: relative; }
  .brand span {
    width: 96px;
    text-align: left;
    line-height: 111px;
    dingisplay: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding-left: 30px; }
  .brand ul {
    float: left;
    margin: 15px 0;
    width: 1067px;
    height: 80px;
    overflow: hidden;
    position: relative; }
  .brand li {
    float: left;
    padding: 0 19px; }
  .brand a {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center; }
    .brand a img {
      width: 100%; }

.fixedsearch {
  display: none;
  background: url(../img/search_fixed_bg.png);
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  height: 52px;
  z-index: 999; }
  .fixedsearch .width1200 {
    width: 1200px;
    margin: 0 auto; }
  .fixedsearch .s_fixed_l {
    float: left;
    width: 120px;
    padding-left: 18px;
    padding-top: 5px; }
  .fixedsearch .s_fixed_r {
    float: left;
    padding-top: 10px;
    position: relative; }
  .fixedsearch .txt_f_sb {
    width: 805px;
    border: 1px solid #fff;
    height: 19px;
    padding: 5px 0 5px 5px;
    float: left;
    font-family: "宋体";
    font-size: 12px;
    color: #666666; }
  .fixedsearch .f_btn_search {
    border: 1px solid #c41f3a;
    background-color: #c41f3a;
    width: 90px;
    height: 31px;
    line-height: 26px;
    display: block;
    float: left;
    color: #fff;
    font-size: 16px; }

.left_slider {
  color: #000;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 92px;
  margin-left: -720px;
  background-color: #fff;
  border: 1px solid #e7e6e6;
  border-radius: 5px;
  display: none; }

.ul_l_s li {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
  padding-bottom: 10px;
  text-align: left; }
  .ul_l_s li a {
    display: block;
    height: 23px;
    line-height: 23px;
    color: #434343;
    text-align: center; }

.ul_l_s .active a {
  background-color: #c4193f;
  border-radius: 3px;
  color: #fff; }

.ul_l_s {
  padding: 10px 8px; }

.ul_l_s li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0; }
