@charset "UTF-8";
%afterdiv {
    content: '';
    overflow: hidden;
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

header {
    height: 215px;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.cartitie {
    margin-top: 20px;
    border: 1px solid #dadada;
    background-color: #efefef;
    font-family: "宋体";
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    width: 100%;
    .column {
        float: left;
        text-align: center;
    }
    .cart_checkbox {
        padding-left: 12px;
        width: 550px;
        text-align: left;
    }
    .checkbox {
        vertical-align: middle;
    }
    .shop_s_name {
        padding-left: 100px;
    }
    .t_price {
        width: 165px;
        text-align: center;
    }
    .t_quantity {
        width: 115px;
        padding: 0 50px;
        text-align: center;
    }
    .t_sum {
        width: 150px;
    }
    .t_action {
        width: 95px;
    }
}

.shop_h2 {
    padding: 19px 0 10px 12px;
    border-bottom: 2px solid #b2b2b2;
    height: 16px;
    width: 1180px;
    float: left;
    line-height: 16px;
    &::after {
        @extend %afterdiv
    }
    .s_allgoods {
        float: left;
    }
    .shop_h2_zy {
        background-color: #e60012;
        padding: 0px 3px;
        border-radius: 5px;
        float: left;
        color: #fff;
        margin-left: 10px;
    }
    a {
        color: #333333;
        text-decoration: none;
        float: left;
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
    }
    .order_tips {
        color: #333;
        float: right;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        padding: 0 10px 0 0;
    }
}

.item_list {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    _float: left;
    width: 100%;
    min-height: 100px;
    &::after {
        @extend %afterdiv
    }
    .cell {
        float: left;
        padding: 25px 0;
    }
    .p_checkbox {
        padding-top: 57px;
        text-align: center;
        width: 50px;
    }
    .cb_s_goods {
        display: inline-block;
        vertical-align: middle;
    }
    .p_goods {
        width: 523px;
    }
    .goods_item_img {
        float: left;
        width: 80px;
        position: relative;
        height: 80px;
        img {
            width: 100%;
        }
    }
    .goods_item_msg {
        float: left;
        margin-left: 12px;
        width: 420px;
    }
    .p_name {
        width: 100%;
        margin-bottom: 5px;
        a {
            color: #333;
            font-size: 13px;
        }
    }
    .p_prices {
        width: 165px;
        text-align: center;
    }
    .p_quantity {
        padding-left: 63px;
        width: 100px;
        padding-right: 50px;
        .quantity_form {
            width: 100%;
            overflow: hidden;
        }
        a {
            background: #fff;
            color: #999;
            display: block;
            float: left;
            height: 23px;
            width: 21px;
            text-align: center;
            line-height: 23px;
            font-weight: bold;
        }
        .a_red {
            border-bottom: 1px solid #e5e5e4;
            border-left: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            font-size: 20px;
        }
        .a_add {
            border-bottom: 1px solid #e5e5e4;
            border-right: 1px solid #e5e5e4;
            border-top: 1px solid #e5e5e4;
            font-size: 16px;
        }
        input {
            font: 12px/20px Tahoma;
            color: #777;
            background-color: #FFF;
            vertical-align: middle;
            display: inline-block;
            height: 19px;
            padding: 2px 4px;
            border: solid 1px #CCC;
            outline: 0 none;
            width: 40px;
            float: left;
            text-align: center;
        }
    }
    .p_sum {
        width: 150px;
        text-align: center;
    }
    .p_ops {
        width: 95px;
        text-align: center;
        _width: 60px;
    }
}

.order_sum {
    border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 0;
    height: 60px;
}

.del_all {
    float: left;
    padding-left: 14px;
    padding-top: 20px;
}

.list_shop {
    &::after {
        @extend %afterdiv
    }
}

.fr {
    float: right;
    .goods_num {
        float: left;
        font-size: 13px;
        color: #333;
        line-height: 60px;
    }
    .goods_sum {
        color: #6b6b6b;
        float: left;
        line-height: 58px;
    }
    .sum_price {
        color: #333;
        font-size: 13px;
        padding-right: 30px;
    }
    .btn_buy {
        float: left;
        a {
            background-color: #c41f3a;
            color: #fff;
            display: block;
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 110px;
        }
    }
}